<h1>Welcome to HNClone</h1>
Please don't sue us for copyright.

<ul>
<% @links.each do |link| %>
  <li>
	<%= link_to link.title, link.url %>
  </li>
<% end %>
</ul>

<%= link_to "Add link", new_link_path %>